@use 'variables';

.hero {
    position: relative;
    display: flex;
    background-color: variables.$backgroundColor;
    justify-content: end;
    align-items: center;
    height: 100vh;
    color: variables.$primaryColor;

    @media (max-width:1024px) {
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        margin: 50px;
        border: 20px double variables.$primaryColor;
        width: 70%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media (max-width:1024px) {
            position: relative;
            width: 90%;
            margin: 0 auto;
        }

        &__corner {
            max-width: 100px;
            width: 100%;
            position: absolute;
            
            &--up-left {
                top: 0;
                left: 0; 
            }
            
            &--up-right {
                top: 0;
                right: 0;
                rotate: 45;
                transform: rotate(90deg);
            }
            
            &--down-right {
                bottom: 0;
                right: 0; 
                transform: rotate(180deg);
            }
            
            &--down-left {
                bottom: 0;
                left: 0; 
                transform: rotate(270deg);
            }

        }

        &__introduction {
            font-size: 40px;
            text-transform: uppercase;
            text-align: center;
            padding-top: 30px;

            @media (max-width:1024px) {
                font-size: 25px;
                padding-top: 20px;
            }
            
            @media (max-width:640px) {
                font-size: 25px;
                padding: 0 80px;
                margin-top: 20px;
            }
        }

        &__title {
            font-size: 80px;
            text-transform: uppercase;
            text-align: center;
            padding: 30px 140px 0;

            @media (max-width:1024px) {
                font-size: 60px;
                padding: 0px 80px;
            }
            
            @media (max-width:640px) {
                font-size: 40px;
                padding: 15px 10px;
            }
        }

        &__text {
            font-size: 30px;
            text-align: center;
            padding-top: 15px;
            line-height: 60px;

            @media (max-width:1024px) {
                font-size: 25px;
                line-height: 40px;
                padding: 0;
            }

            @media (max-width:640px) {
                padding-top: 0;
            }

            & #time-counter {
                font-size: 70px;

                @media (max-width:1024px) {
                    font-size: 40px;
                }

                @media (max-width:640px) {
                    font-size: 60px;
                    padding: 0 10px;
                }
            }
        }

        &__button {
            color: variables.$backgroundColor;
            background-color: variables.$primaryColor;
            font-size: 30px;
            text-transform: uppercase;
            text-align: center;
            text-decoration: none;
            margin-top: 7px;
            padding: 25px 50px;
            border-radius: 40px;
            border: 2px solid transparent;
            cursor: pointer;
            transition: all ease .3s;

            &:hover {
                background-color: variables.$backgroundColor;
                color: variables.$primaryColor;
                border: 2px solid variables.$primaryColor;
            }

            @media (max-width:1024px) {
                margin: 10px 0;
                padding: 10px 20px;
            }

            @media (max-width:640px) {
                font-size: 25px;
                padding: 10px 30px;
                margin-top: 0;
                margin-bottom: 50px;
            }
        }
    }

    &__image {
        background-color: variables.$primaryColor;
        max-width: 37vw;
        width: 100%;
        border-radius: 500px;
        position: relative;

        @media (max-width:1024px) {
            margin-bottom: 20px;
            max-width: 30vw;
        }

        @media (max-width:640px) {
            margin-bottom: 20px;
        }

        img {
            max-width: 37vw;
            width: 100%;
            border-radius: 500px;

            @media (max-width:1024px) {
                max-width: 30vw;
            }
        }
    }
}